{% extends "base.html" %}

{% block title %}Logout{% endblock %}
{% block header_text %}Logout{% endblock %}

{% block content %}

<h1>Спасибо, что провели время на нашем сайте!</h1>
<h3><a href="{% url 'login' %} ">Войти снова</a></h3>

{% endblock %}
