{% extends "base.html" %}

{% block title %}Войти в чат{% endblock %}
{% block header_text %}Войти в чат{% endblock %}

{% block content %}

    <form action="." method="POST">
        {{ form.as_table }}
        {% csrf_token %}
        <button>Войти</button>
    </form>

{% endblock %}
